@charset "utf-8";
/* deepest.lee@gmail.com */

// Breakpoints
$breakpoint-mobile: 424px;
$breakpoint-tablet: 720px;
$breakpoint-desktop: 1150px;

// font
$font-size-small: 12px;
$font-size-base: 14px;
$font-size-large: 16px;
$font-size-xlarge: 18px;
$font-size-xxlarge: 20px;

// color
$color-base: #111111;
$color-light: #676767;
$color-active: #fe7c56;
$color-border: #e2e2e2;

// Layout
$max-width-container: 1024px;